
body {
margin : 0;
padding : 0;
font : 73%  "lucida sans", helvetica, "Trebuchet MS", arial, sans-serif;
line-height : 1.8em;
background : #E0D0B3;
color : #333;
}


#header {
height : 300px;
margin-bottom : 0.5em;
border-top : 10px solid #017C84;
background : #F7A303 url(images/banner.jpg) no-repeat;
color : #000;


}
#gutter {
float : left;
width : 0.5%;
height : 1px;
}



#col1 {
float : left;
width : 20%;
margin-bottom : 1em;
border-right : 0px solid #eee;
padding-right : 3%;
}



#col2 {
float : left;
width : 33%;
margin-left : 3%;
margin-bottom : 1em;
border-right : 0px solid #eee;
padding-right : 3%;

}
#col3 {
float : left;
width : 27%;
margin-left : 4%;
margin-bottom : 1em;
}
#navcontainer ul {
margin-top : 10px;
list-style-type : none;
font-size : 85%;
background : #E0D0B3;
color : #666;
}
#navcontainer ul li a {
padding : 5px;
color : #682715;
background : transparent url(images/list-off.gif) no-repeat left center;
text-align : left;
text-decoration : none;
}
#navcontainer ul li a:hover {
color : #682715;
background : transparent url(images/list-on.gif) no-repeat left center;
}
#navcontainer ul li a#current {
background : transparent url(images/list-active.gif) no-repeat left center;
color : #000;
}
#footer {
clear : both;
height : 50px;
padding : 5px;
text-align : left;
border-top : 10px solid #fca404;
background : #a03719;
color : #000;
}
#footer a {
text-decoration : none;
color : #fca404;
background-color : inherit;
}
#footer a:hover {
text-decoration : underline;
color : #999;
background-color : inherit;
}
h1 {
margin : 0;
padding : 3em 0 0 8em;
text-align : left;
text-transform : uppercase;
letter-spacing : 10px;
font-size : 150%;
color : #333;
background : inherit;
}
h2 {
margin-top : 0;
padding : 0.5em 0 0.5em 1em;
text-transform : uppercase;
letter-spacing : 5px;
font-size : 140%;
color : #682715;
background : inherit;
}
a {
text-decoration : none;
color : #006699;
background : inherit;
}
a:hover {
text-decoration : underline;
color : #a03719;
background : inherit;
}
a img {
border : 0;
}
.box {
padding : 20px;
color : #682715;
background : inherit;
}
.roundcont {
margin : 10px;
width : 98%;
background : #E9DDC9;
color : #333;
}
.roundcont p {
margin : 0 15px;
}
.roundtop {
background : url(images/tr.gif) no-repeat top right;
}
.roundbottom {
background : url(images/br.gif) no-repeat top right;
}
img.corner {
width : 10px;
height : 10px;
border : none;
display : block !important;
}


.img {
float : left;
padding : 1px;
margin : 4px;
}
form { 
margin: 0; 
}
.img1 {
float : left;
padding : 5px;
margin : -6px;

}
form { 
margin: 0; 
}


blockquote {
font-weight : bold;
font-style : italic;
color : #000000;
}